<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="DBPath" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Nikol\OneDrive\Рабочий стол\Практика\День25\Day25\Task1\bin\Debug\net8.0-windows\Consultations.mdf;Integrated Security=True;Connect Timeout=30"
			 providerName="System.Date.SqlClient"/>
	</connectionStrings>
</configuration>